
/*================================================
Preloader Area CSS
=================================================*/
.preloader {
  position: fixed !important;
  z-index: 9999999 !important;
  background-color: #247ffb !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  text-align: center !important;
}

.preloader .spinner {
  width: 60px !important;
  height: 60px !important;
  background-color: #ffffff !important;
  margin: 0 auto !important;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out !important;
          animation: sk-rotateplane 1.2s infinite ease-in-out !important;
  position: absolute !important;
  left: 0 !important;
  top: 40% !important;
  -webkit-transform: translateY(-40%) !important;
          transform: translateY(-40%) !important;
  right: 0 !important;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
