$media: screen;
$feature_min: min-width;
$feature_max: max-width;
$value_one: 576px;
$value_two: 767px;
$value_three: 768px;
$value_four: 991px;
$value_five: 992px;
$value_six: 1199px;

$main-color: #247ffb;
$optional-color: #FFF323;
$paragraph-color: #899198;
$white-color: #ffffff;
$black-color: #313232;

@media only #{$media} and ($feature_max : $value_two) {
    body {
        font-size: 13px;
    }
    p {
        font-size: 13px;
    }
    .default-btn {
        padding: 15px 30px;
        font-size: 13px;
    }
    .ptb-100 {
        padding: {
            top: 60px;
            bottom: 60px;
        }
    }
    .section-title {
        margin-bottom: 40px;

        span {
            font-size: 14px;
        }
        h2 {
            font-size: 25px;
            line-height: 1.3;
        }
        &.text-left {
            text-align: center !important;
            padding-right: 0;

            .default-btn {
                display: none;
            }
        }
        p {
            margin-top: 10px;
        }
    }
    .form-control {
        font-size: 13px;
        padding: 10px;
    }

    .top-header {
        text-align: center;
        padding-top: 5px;

        .header-contact-info {
            text-align: center;
            margin-top: 0;
    
            li {
                font-size: 13px;
                margin: {
                    top: 10px;
                    left: 5px;
                    right: 5px;
                }
            }
        }
        .social-links {
            display: none;
        }
    }
    .navbar-light {
        .navbar-toggler {
            color: $main-color;
            border-color: $main-color;
            border-radius: 0;
        }
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(36, 127, 251, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
        .navbar-nav {
            margin-top: 15px;
            height: 331px;
            overflow-y: scroll;

            .nav-item {
                .nav-link {
                    font-size: 13px;
                    margin: {
                        left: 0;
                        right: 0;
                        bottom: 3px;
                    }
                }
                &:last-child {
                    .nav-link {
                        margin-bottom: 0;
                    }
                }
                .dropdown-menu {
                    margin: {
                        top: 0;
                        bottom: 5px;
                        left: 15px;
                    }
                    .dropdown-item {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .hero-slider {
        .hero-slider-item {
            height: 100%;
            padding: {
                top: 100px;
                bottom: 220px;
            }
        }
    }
    .slider-text {
        max-width: 100%;
        margin-top: 0;
        text-align: center;

        h1 {
            margin-bottom: 15px;
            font-size: 34px;
            line-height: 1.3;
        }
        p {
            margin-bottom: 20px;
            font-size: 13px;
        }
    }
    .banner-section {
        height: 100%;
        padding: {
            top: 140px;
            bottom: 210px;
        }
    }
    .banner-text {
        max-width: 100%;
        margin-top: 0;

        h1 {
            margin-bottom: 10px;
            font-size: 34px;
            line-height: 1.3;
        }
        p {
            margin-bottom: 20px;
            font-size: 13px;
        }
    }
    .shape-1, .shape-2, .shape-3 {
        display: none;
    }
    .hero-slider {
        &.owl-theme {
            .owl-nav {
                margin-top: 0;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 85px;

                [class*="owl-"] {
                    position: relative;
                    top: 0;
                    transform: unset;
                    left: 0;
                    opacity: 1;
                    visibility: visible;
                    font-size: 30px;
                    margin: 0 8px;

                    &.owl-next {
                        right: 0;
                    }
                }
            }
            &:hover {
                .owl-nav {
                    [class*="owl-"] {
                        left: 0;
    
                        &.owl-next {
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    .boxes-section {
        margin-top: -100px;
    }
    .single-box {
        margin-top: 30px;

        i {
            width: 65px;
            height: 65px;
            line-height: 65px;

            &::before {
                font-size: 27px;
            }
        }
        h3 {
            font-size: 17px;
        }
    }

    .about-img {
        padding: {
            left: 15px;
            bottom: 15px;
        }
    }
    .about-text {
        padding-left: 0;
        margin-top: 35px;
        text-align: center;

        span {
            font-size: 14px;
        }
        h2 {
            line-height: 33px;
            font-size: 25px;
            margin-bottom: 11px;
        }
        ul {
            text-align: left;
            margin: {
                left: -5px;
                right: -5px;
            }
            li {
                padding: {
                    left: 25px;
                    right: 5px;
                }
                i {
                    left: 5px;
                }
            }
        }
    }

    .our-process-section {
        padding-bottom: 30px;
    }
    .single-process {
        h3 {
            font-size: 17px;
        }
        i {
            width: 65px;
            height: 65px;
            line-height: 65px;

            &::before {
                font-size: 27px;
            }
        }
    }
    .col-lg-3 {
        &:nth-child(2), &:nth-child(4) {
            .single-process {
                margin-top: 0;
            }
        }
    }

    .services-section {
        padding-bottom: 30px;
    }
    .single-services {
        .services-content-wrapper {
            padding: 20px;

            h3 {
                font-size: 17px;
            }
            .services-icon {
                position: relative;
                top: 0;
                transform: unset;
                right: 0;
                margin-top: 15px;
            }
        }
    }

    .why-choose-wrapper {
        max-width: 100%;
        padding: {
            top: 60px;
            bottom: 30px;
            right: 15px;
            left: 15px;
        }
        .section-title {
            margin-bottom: 0;

            &.text-left {
                text-align: left !important;
            }
            p {
                max-width: 100%;
            }
        }
        .choose-text-wrapper {
            padding-left: 83px;

            .icon {
                width: 65px;
                height: 65px;
                line-height: 65px;

                i {
                    &::before {
                        font-size: 27px;
                    }
                }
            }
            h3 {
                font-size: 17px;
            }
            p {
                margin-top: 10px;
            }
        }
    }
    .why-choose-img {
        height: auto;
        background-image: unset;

        img {
            display: block;
        }
    }

    .single-portfolio {
        img {
            width: 100%;
        }
        .portfolio-content {
            h3 {
                font-size: 17px;
            }
            span {
                margin-top: 6px;
            }
        }
    }
    .portfolio-btn {
        margin-top: 15px;
    }

    .counter-section {
        clip-path: unset;
        padding-bottom: 30px;

        &.extra-pb {
            padding-bottom: 210px;
        }
    }
    .single-counter {
        margin-bottom: 30px;

        h3 {
            font-size: 35px;
        }
        p {
            margin-top: 5px;
            font-size: 13px;
        }
    }

    .testimonials-section {
        padding-bottom: 30px;
    }
    .testimonial-single-item {
        text-align: center;
        padding: 20px;

        .icon {
            margin: 0 0 19px;
            width: 65px;
            height: 65px;
            line-height: 65px;

            i {
                &::before {
                    font-size: 27px;
                }
            }
        }
        h3 {
            font-size: 17px;
            margin-bottom: 4px;
        }
    }
    .testimonial-wrapper {
        &.owl-theme {
            .owl-nav {
                &.disabled + .owl-dots {
                    margin-top: 0;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .blog-section {
        padding-bottom: 30px;
    }
    .single-blog-post {
        .post-content {
            padding: 20px;

            h3 {
                font-size: 17px;
            }
            .read-more-btn {
                font-size: 12px;
                margin-top: 15px;
            }
        }
    }

    .pricing-section {
        padding-bottom: 30px;

        .col-lg-6 {
            &:last-child {
                order: 1;
            }
            &:first-child {
                order: 2;
            }
        }
    }
    .pricing-text {
        padding-left: 0;
        margin-bottom: 30px;
    }
    .pricing-content {
        margin-bottom: 30px;

        i {
            &::before {
                font-size: 27px;
                width: 65px;
                height: 65px;
                line-height: 65px;
            }
        }
        h3 {
            font-size: 17px;
            margin-bottom: 10px;
        }
        span {
            font-size: 35px;
            margin-bottom: 8px;

            sup {
                font-size: 18px;
            }
            sub {
                font-size: 11px;
                padding-left: 4px;
            }
        }
        &::before, &::after {
            display: none;
        }
    }
    .pricing-wrapper {
        &.owl-theme {
            .owl-nav {
                &.disabled + .owl-dots {
                    margin: {
                        top: 0;
                        bottom: 30px;
                    }
                }
            }
        }
    }

    .form-wrapper {
        padding: 20px;

        label {
            font-size: 13px;
        }
        .form-control {
            height: 45px !important;
        }
        .default-btn {
            margin: -5px auto 0;
            padding: 17px 40px;
        }
    }

    .page-title-area {
        height: 100%;
        padding: {
            top: 75px;
            bottom: 70px;
        }
    }
    .page-title-content {
        margin-top: 0;

        h1 {
            margin-bottom: 8px;
            font-size: 30px;
        }
    }

    .main-img {
        margin-bottom: 30px;
    }
    .services-details-content {
        margin-top: 0;

        h3 {
            font-size: 17px;
            margin-bottom: 10px;
        }
        .why-choose {
            margin-bottom: 0;

            .why-choose-box {
                margin-bottom: 30px;

                i {
                    top: 4px;
                }
            }
        }
        .services-more-content {
            margin-bottom: 30px;

            .item-content {
                margin-top: 30px;
            }
        }
        .services-more-info {
            padding: 20px 20px 10px;

            h3 {
                margin-bottom: 20px;
            }
            .single-info {
                margin-bottom: 10px;

                h4 {
                    font-size: 14px;
                }
                span {
                    font-size: 14px;
                }
            }
        }
    }

    .pagination-area {
        margin-top: 20px;

        .page-numbers {
            width: 40px;
            height: 40px;
            margin: 0 2px;
            line-height: 40px;
            font-size: 15px;
        }
    }

    .portfolio-details-desc {
        h3 {
            font-size: 17px;
            margin-bottom: 13px;
        }
        .portfolio-details-information {
            margin-top: -10px;

            .single-info-box {
                width: 100%;
                margin-top: 15px;

                h4 {
                    font-size: 15px;
                    margin-bottom: 8px;
                }
            }
        }
    }

    .blog-details {
        .article-content {
            padding: 20px;

            h3 {
                font-size: 17px;
                line-height: 1.5;
                margin-bottom: 13px;
            }
            .blockquote {
                padding: 20px;

                p {
                    font-size: 14px;
                }
            }
            .share-post {
                margin-top: 20px;

                ul {
                    li {
                        a {
                            width: 35px;
                            font-size: 13px;
                            height: 35px;
                            line-height: 35px;
                        }
                    }
                }
            }
        }
    }
    .post-controls-buttons {
        padding: 20px;

        div {
            a {
                padding: 7px 15px;
                font-size: 14px;
            }
        }
    }
    .post-comments {
        padding: 20px;

        h3 {
            font-size: 17px;
        }
        .single-comment {
            padding-left: 0;

            .comment-img {
                position: relative;
                margin-bottom: 15px;
            }
            &.left-m {
                margin-left: 15px;
            }
            .comment-content {
                h4 {
                    font-size: 15px;
                }
                span {
                    font-size: 13px;
                }
            }
        }
    }
    .leave-a-reply {
        padding: 20px;

        h3 {
            font-size: 17px;
        }
    }

    .sidebar-area {
        margin-top: 40px;

        .widget {
            .widget-title {
                font-size: 17px;
                margin-bottom: 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .widget_post_categories {
            ul {
                li {
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
        .widget_recent_posts {
            ul {
                li {
                    .recent-post-content {
                        h3 {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .widget_tag_cloud {
            .tagcloud {
                a {
                    font-size: 12px !important;
                }
            }
        }
    }

    .contact-info-area {
        padding-top: 30px;
    }
    .contact-info-box {
        margin-top: 30px;
        padding: 20px;

        h3 {
            font-size: 17px;
            margin: 20px 0 10px;
        }
        .icon {
            width: 65px;
            height: 65px;
            line-height: 65px;
            font-size: 25px;
        }
    }

    .faq-content {
        margin-top: 30px;

        .faq-panel {
            .faq-title {
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }

    .error-section {
        height: 100%;
        padding: {
            top: 200px;
            bottom: 200px;
        }
        .error-text {
            h2 {
                font-size: 55px;
            }
            h4 {
                font-size: 17px;
            }
            p {
                font-size: 13px;
            }
        }
    }

    .footer-section {
        clip-path: unset;
        padding-top: 60px;
    }
    .single-footer-widget {
        &.ml-3 {
            margin-left: 0 !important;
        }
        .logo {
            margin-bottom: 15px;
        }
        &.pl-3 {
            padding-left: 0 !important;
        }
        h3 {
            font-size: 19px;
            margin-bottom: 20px;
        }
        .social-links {
            margin-top: 20px;

            li {
                font-size: 13px;
            }
        }
        .footer-nav-list {
            li {
                font-size: 13px;
            }
        }
        .working-hours {
            li {
                margin-bottom: 10px;
                font-size: 13px;
            }
        }
    }
    .copyright-area {
        margin-top: 30px;
        padding: {
            top: 25px;
            bottom: 25px;
        }
        p {
            font-size: 14px;
        }
    }

    #toTop {
        bottom: 10px;
        right: 10px;

        i {
            width: 30px;
            height: 30px;
            line-height: 31px;
            font-size: 15px;
        }
    }
}

@media only #{$media} and ($feature_min : $value_one) and ($feature_max : $value_two) {
    
}

@media only #{$media} and ($feature_min : $value_three) and ($feature_max : $value_four) {
    .section-title {
        h2 {
            font-size: 30px;
        }
    }

    .top-header {
        .social-links {
            li {
                a {
                    font-size: 13px;
                }
            }
        }
        .header-contact-info {
            li {
                margin-right: 15px;
                font-size: 13px;

                i {
                    font-size: 14px;
                }
            }
        }
    }
    .navbar-light {
        .navbar-toggler {
            color: $main-color;
            border-color: $main-color;
            border-radius: 0;
        }
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(36, 127, 251, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
        .navbar-nav {
            margin-top: 15px;
            height: 331px;
            overflow-y: scroll;

            .nav-item {
                .nav-link {
                    margin: {
                        left: 0;
                        right: 0;
                        bottom: 3px;
                    }
                }
                &:last-child {
                    .nav-link {
                        margin-bottom: 0;
                    }
                }
                .dropdown-menu {
                    margin: {
                        top: 0;
                        bottom: 5px;
                        left: 15px;
                    }
                }
            }
        }
    }

    .hero-slider {
        .hero-slider-item {
            height: 100%;
            padding: {
                top: 150px;
                bottom: 280px;
            }
        }
    }
    .slider-text {
        max-width: 100%;
        margin-top: 0;
        text-align: center;

        h1 {
            margin-bottom: 10px;
            font-size: 45px;
        }
        p {
            margin: {
                left: auto;
                bottom: 20px;
                right: auto;
            }
        }
    }
    .banner-section {
        height: 100%;
        padding: {
            top: 200px;
            bottom: 250px;
        }
    }
    .banner-text {
        margin-top: 0;
        max-width: 530px;

        h1 {
            margin-bottom: 10px;
            font-size: 45px;
        }
        p {
            margin: {
                bottom: 20px;
            }
        }
    }
    .shape-1, .shape-2, .shape-3 {
        display: none;
    }
    .hero-slider {
        &.owl-theme {
            .owl-nav {
                margin-top: 0;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 100px;

                [class*="owl-"] {
                    position: relative;
                    top: 0;
                    transform: unset;
                    left: 0;
                    opacity: 1;
                    visibility: visible;
                    font-size: 40px;
                    margin: 0 8px;

                    &.owl-next {
                        right: 0;
                    }
                }
            }
            &:hover {
                .owl-nav {
                    [class*="owl-"] {
                        left: 0;
    
                        &.owl-next {
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    .boxes-section {
        margin-top: -100px;
    }
    .single-box {
        margin-top: 30px;
    }

    .about-text {
        padding-left: 0;
        margin-top: 40px;

        h2 {
            font-size: 30px;
        }
    }

    .why-choose-wrapper {
        max-width: 100%;
        margin-left: 0;
        padding: {
            right: 15px;
            left: 15px;
        }
    }

    .col-lg-3 {
        &:nth-child(2), &:nth-child(4) {
            .single-process {
                margin-top: 0;
            }
        }
    }

    .counter-section {
        clip-path: unset;
    }
    .single-counter {
        h3 {
            font-size: 42px;
        }
        p {
            font-size: 15px;
        }
    }

    .contact-info-area {
        padding-top: 70px;
    }
    .contact-info-box {
        margin-top: 30px;
    }

    .pricing-section {
        padding-bottom: 70px;
    }
    .pricing-content {
        margin-bottom: 30px;
    }
    .pricing-text {
        margin-top: -30px;
    }
    .pricing-wrapper {
        &.owl-theme {
            .owl-nav {
                &.disabled + .owl-dots {
                    margin: {
                        top: 10px;
                        bottom: 30px;
                    }
                }
            }
        }
    }

    .faqs-section {
        .col-lg-5 {
            order: 2;
        }
        .col-lg-7 {
            order: 1;
        }
    }
    .faq-image {
        img {
            width: 100%;
        }
    }
    .faq-content {
        margin-bottom: 30px;
    }

    .portfolio-details-desc {
        .portfolio-details-information {
            .single-info-box {
                width: 33.3333%;
            }
        }
    }

    .sidebar-area {
        margin-top: 40px;
    }

    .error-section {
        height: 100%;
        padding: {
            top: 200px;
            bottom: 200px;
        }
    }

    .single-footer-widget {
        .footer-info-list {
            li {
                font-size: 14px;
            }
        }
    }
    .footer-section {
        clip-path: unset;
    }
}

@media only #{$media} and ($feature_min : $value_five) and ($feature_max : $value_six) {
    .why-choose-wrapper {
        max-width: 100%;
        margin-left: 0;
        padding: {
            right: 30px;
            left: 30px;
        }
    }
}