/*
@File: Klinsa Template Styles

* This file contains the styling for the actual Template, this
is the file you need to edit to change the look of the
Template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default Area CSS
** - Preloader Area CSS
** - Header Area CSS
** - Banner Area CSS
** - Boxes Area CSS
** - About Area CSS
** - Our Process Area CSS
** - Services Area CSS
** - Why Choose Us Area CSS
** - Portfolio Area CSS
** - Counter Area CSS
** - Testimonials Area CSS
** - Partner Area CSS
** - Blog Area CSS
** - Pricing Area CSS
** - Estimate Area CSS
** - Contact Area CSS
** - Page Title Area CSS
** - Pagination Area CSS
** - Portfolio Details Area CSS
** - Error Area CSS
** - Blog Details Area CSS
** - Sidebar Area CSS
** - FAQ Area CSS
** - Services Details Area CSS
** - Footer Area CSS
** - Back To Top CSS
*/

/*================================================
Default Area CSS
=================================================*/
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

$font-family: 'Rubik', sans-serif;
$optional-font-family: 'Muli', sans-serif;
$main-color: #247ffb;
$optional-color: #FFF323;
$paragraph-color: #899198;
$white-color: #ffffff;
$black-color: #313232;
$font-size: 15px;
$transition: .5s;

body {
    padding: 0;
    margin: 0;
    font: {
        family: $font-family;
        size: $font-size;
    }
}
a {
    display: block;
    color: $black-color;
    transition: $transition;

    &:hover {
        text-decoration: none;
        color: $main-color;
    }
}
p {
    color: $paragraph-color;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.8;

    &:last-child {
        margin-bottom: 0;
    }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: $black-color;
    font-family: $font-family;
}
button {
    transition: $transition;
    outline: 0 !important;
}
img {
    max-width: 100%;
    height: auto;
}
select {  
    cursor: pointer;
}
.d-table {
    width: 100%;
    height: 100%;

    &-cell {
        vertical-align: middle;
    }
}
.ptb-100 {
    padding: {
        top: 100px;
        bottom: 100px;
    }
}
.gray-bg {
    background-color: #f9faff;
}
/*default-btn*/
.default-btn {
    background-color: $main-color;
    color: $white-color;
    display: inline-block;
    padding: 17px 40px;
    text-transform: uppercase;
    border-radius: 30px;
    line-height: initial;
    font: {
        weight: 500;
        size: 14px;
    }
    &:hover {
        background-color: $optional-color;
        color: $black-color;
    }
}
/*section-title*/
.section-title {
    margin: -5px auto 60px;
    text-align: center;
    max-width: 735px;

    span {
        font-size: 17px;
        text-transform: capitalize;
        margin-bottom: 5px;
        color: $main-color;
        display: block;
    }
    h2 {
        text-transform: capitalize;
        margin-bottom: 0;
        font: {
            weight: 500;
            size: 35px;
        }
    }
    p {
        max-width: 520px;
        margin: {
            top: 12px;
            left: auto;
            right: auto;
        }
    }
    &.text-left {
        text-align: left;
        position: relative;
        max-width: 100%;
        padding-right: 245px;
        margin: {
            left: 0;
            right: 0;
        }
        p {
            margin: {
                left: 0;
                right: 0;
            }
        }
        .default-btn {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
/*form-control*/
.form-control {
    border: 1px solid #eeeeee;
    text-transform: capitalize;
    color: $black-color;
    background-color: #F9F9F9;
    font-size: 14px;
    padding: 15px;
    line-height: initial;
    height: 50px;
        
    &:focus {
        box-shadow: unset;
        border-color: $main-color;
    }
    &::placeholder {
        color: #777777;
    }
}
  
/*================================================
Preloader Area CSS
=================================================*/
.preloader {
    position: fixed;
    z-index: 9999999;
    background-color: $main-color;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;

    .spinner {
        width: 60px;
        height: 60px;
        background-color: $white-color;
        margin: 0 auto;
        animation: sk-rotateplane 1.2s infinite ease-in-out;
        position: absolute;
        left: 0;
        top: 40%;
        transform: translateY(-40%);
        right: 0;
    }
}
@keyframes sk-rotateplane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/*================================================
Header Area CSS
=================================================*/
.top-header {
    background-color: $main-color;
    padding: {
        top: 15px;
        bottom: 15px;
    }
    .social-links {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            display: inline-block;
            line-height: initial;
            margin-right: 10px;

            a {
                color: $white-color;
                font-size: 16px;

                &:hover {
                    color: $optional-color;
                    transform: translateY(-3px);
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .header-contact-info {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
        text-align: right;

        li {
            color: $white-color;
            display: inline-block;
            line-height: initial;
            margin-right: 20px;
            font-size: 14px;

            &:last-child {
                margin-right: 0;
            }
            a {
                display: inline-block;
                color: $white-color;

                &:hover {
                    color: $optional-color;
                }
            }
            i {
                color: $optional-color;
                margin-right: 3px;
            }
        }
    }
}
.navbar {
    padding: {
        top: 20px;
        bottom: 20px;
    }
    &.is-sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $white-color !important;
        z-index: 999;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        padding: {
            top: 15px;
            bottom: 15px;
        }
    }
}
.bg-light {
    background-color: transparent !important;
}
.navbar-light {
    .navbar-nav {
        font-family: $optional-font-family;

        .nav-item {
            .nav-link {
                color: $black-color;
                text-transform: uppercase;
                font: {
                    weight: 700;
                    size: 14px;
                }
                margin: {
                    left: 13px;
                    right: 13px;
                }
                padding: {
                    left: 0;
                    right: 0;
                }
                &:hover, &:focus, &.active {
                    color: $main-color;
                }
            }
            &:last-child {
                .nav-link {
                    margin-right: 0;
                }
            }
            .dropdown-menu {
                border: none;
                background-color: $white-color;
                border-radius: 0;
                padding: 20px;
                width: 250px;
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
                
                .dropdown-item {
                    display: block;
                    background-color: transparent;
                    border: 0;
                    color: $black-color;
                    text-transform: capitalize;
                    padding: 0;
                    margin-top: 12px;
                    font: {
                        size: 16px;
                        weight: 700;
                    }
                    &:first-child {
                        margin-top: 0;
                    }
                    &.active, &:active, &:hover, &:focus {
                        color: $main-color;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 991px) {
    .navbar-light {
        .dropdown {
            .dropdown-menu {
                transition: $transition;
                overflow: hidden;
                transform-origin: top center;
                transform: scale(1, 0);
                display: block;
                width: 200px;
            }
        }
        .dropdown:hover > .dropdown-menu {
            transform: scale(1);
        }
    }
}

/*================================================
Banner Area CSS
=================================================*/
.slider-section {
    position: relative;
}
.hero-slider {
    .hero-slider-item {
        position: relative;
        z-index: 1;
        height: 850px;
        background: {
            size: cover;
            repeat: no-repeat;
            position: center center;
        }
    }
    .slider-item-bg-1 {
        background-image: url("../img/slider/slider-1.jpg");
    }
    .slider-item-bg-2 {
        background-image: url("../img/slider/slider-2.jpg");
    }
    .slider-item-bg-3 {
        background-image: url("../img/slider/slider-3.jpg");
    }
}
.slider-text {
    max-width: 700px;
    margin-top: -130px;

    h1 {
        color: $white-color;
        margin-bottom: 15px;
        font: {
            size: 60px;
            weight: 800;
            family: $optional-font-family;
        }
    }
    p {
        color: $white-color;
        margin-bottom: 30px;
        max-width: 545px;
        opacity: .95;
        font: {
            size: 16px;
            family: $optional-font-family;
        }
    }
    &.text-center {
        margin: {
            left: auto;
            right: auto;
        }
        p {
            margin: {
                left: auto;
                right: auto;
            }
        }
    }
}
.hero-slider {
    &.owl-theme {
        .owl-nav {
            margin-top: 0;

            [class*=owl-] {
                position: absolute;
                left: 30px;
                top: 42%;
                transform: translateY(-42%);
                border: none;
                color: $white-color;
                margin: 0;
                font-size: 55px;
                border-radius: 50%;
                background-color: transparent;
                opacity: 0;
                visibility: hidden;

                &.owl-next {
                    left: auto;
                    right: 30px;
                }
                &:hover {
                    color: $main-color;
                }
            }
        }
        &:hover {
            .owl-nav {
                [class*=owl-] {
                    left: 50px;
                    opacity: 1;
                    visibility: visible;
    
                    &.owl-next {
                        left: auto;
                        right: 50px;
                    }
                }
            }
        }
    }
}
.shape-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.shape-2 {
    position: absolute;
    bottom: 9px;
    left: 0;
    right: 0;
    animation: mover 2s linear infinite  alternate;
    z-index: 1;

    img {
        width: 100%;
    }
}
.shape-3 {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    animation: mover 3s infinite  alternate;
    z-index: 1;
}
.banner-section {
    position: relative;
    z-index: 1;
    height: 850px;
    background: {
        size: cover;
        image: url(../../assets/img/banner.jpg);
        repeat: no-repeat;
        position: center center;
    }
}
.banner-text {
    max-width: 700px;
    margin-top: -130px;

    h1 {
        margin-bottom: 15px;
        font: {
            size: 60px;
            weight: 800;
            family: $optional-font-family;
        }
    }
    p {
        margin-bottom: 30px;
        max-width: 545px;
        font: {
            size: 16px;
            family: $optional-font-family;
        }
    }
}
@keyframes mover {
    0% { 
        transform: translateY(0); 
    }
    100% { 
        transform: translateY(-8px); 
    }
}

/*================================================
Boxes Area CSS
=================================================*/
.boxes-section {
    margin-top: -135px;
    z-index: 2;
    position: relative;
}
.single-box {
    box-shadow: 0 0 40px rgba(82,85,90,0.1);
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    z-index: 1;
    transition: $transition;
    position: relative;
    background-color: $white-color;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background-color: $main-color;
        transition: $transition;
        z-index: -1;
    }
    i {
        color: $main-color;
        background-color: #d9f6fc;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        transition: $transition;
        display: inline-block;

        &::before {
            font-size: 35px;
        }
    }
    h3 {
        text-transform: capitalize;
        margin-top: 20px;
        font-size: 19px;
    }
    p {
        margin-top: 10px;
    }
    &:hover {
        transform: translateY(-10px);

        &::after {
            width: 100%;
            right: auto;
            left: 0;
        }
        i {
            background-color: $main-color;
            color: $white-color;
        }
    }
}

/*================================================
About Area CSS
=================================================*/
.about-img {
    border-radius: 5px;
    position: relative;
    z-index: 1;
    padding: {
        left: 30px;
        bottom: 30px;
    }
    img {
        border-radius: 4px;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 90%;
        height: 90%;
        background-color: $main-color;
        border-radius: 4px;
        z-index: -1;
    }
}
.about-text {
    padding-left: 30px;

    span {
        font-size: 17px;
        text-transform: capitalize;
        margin-bottom: 5px;
        color: $main-color;
        display: block;
    }
    h2 {
        margin-bottom: 15px;
        line-height: 42px;
        font: {
            size: 35px;
            weight: 500;
        }
    }
    ul {
        padding-left: 0;
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: {
            bottom: 20px;
            right: -15px;
            left: -15px;
            top: -7px;
        }
        li {
            color: $paragraph-color;
            position: relative;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            margin-top: 12px;
            padding: {
                left: 37px;
                right: 15px;
            }
            i {
                color: $main-color;
                position: absolute;
                left: 15px;
                top: 3px;
            }
        }
    }
    .default-btn {
        margin-top: 15px;
    }
}

/*================================================
Our Process Area CSS
=================================================*/
.our-process-section {
    position: relative;
    z-index: 1;
    padding-bottom: 70px;
    background: {
        image: url(../../assets/img/amazing-bg.jpg);
        position: center center;
        size: cover;
        repeat: no-repeat;
    }
    .row {
        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 192px;
            content: '';
            z-index: -1;
            background: {
                position: center center;
                size: cover;
                repeat: no-repeat;
                image: url(../../assets/img/shape5.png);
            }
            display: none;
        }
    }
}
.col-lg-3 {
    &:nth-child(2), &:nth-child(4) {
        .single-process {
            margin-top: 30px;
        }
    }
}
.single-process {
    margin-bottom: 30px;
    text-align: center;

    i {
        margin-bottom: 20px;
        color: $main-color;
        background-color: #d6f3fa;
        width: 90px;
        height: 90px;
        display: inline-block;
        text-align: center;
        line-height: 90px;
        border-radius: 50%;
        transition: $transition;

        &::before {
            font-size: 38px;
        }
        &.flaticon-hand-soap {
            &::before {
                margin-left: 12px;
            }
        }
    }
    h3 {
        font-size: 20px;
        margin-bottom: 12px;
        text-transform: capitalize;
    }
    &:hover {
        i {
            background-color: $main-color;
            color: $white-color;
        }
    }
}

/*================================================
Services Area CSS
=================================================*/
.services-section {
    padding-bottom: 70px;
}
.single-services {
    margin-bottom: 30px;
    transition: $transition;
    background-color: $white-color;
    box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    border-radius: 5px;

    .services-img {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000000;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            border-radius: 5px 5px 0 0;
            transition:$transition;
        }
        img {
            border-radius: 5px 5px 0 0;
        }
    }
    .services-content-wrapper {
        padding: 20px 60px 20px 20px;
        transition: $transition;
        border: 1px solid $white-color;
        border-top: none;
        position: relative;
        border-radius: 0 0 5px 5px;

        h3 {
            font-size: 20px;
            margin-bottom: 0;
        }
        p {
            line-height: initial;
            margin-bottom: 0;
            margin-top: 10px;
        }
        .services-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;

            a {
                border: 1px solid #efefef;
                font-size: 15px;
                color: $main-color;
                width: 30px;
                height: 30px;
                line-height: 30px;
                display: inline-block;
                text-align: center;
                border-radius: 50%;

                &:hover {
                    background-color: $main-color;
                    color: $white-color;
                    border-color: $main-color;
                }
            }
        }
    }
    &:hover {
        transform: translateY(-10px);

        .services-img {
            &::before {
                opacity: 0;
            }
        }
        .services-content-wrapper {
            border-color: $main-color;

            .services-icon {
                a {
                    background-color: $main-color;
                    color: $white-color;
                    border-color: $main-color;
                }
            }
        }
    }
}

/*================================================
Why Choose Us Area CSS
=================================================*/
.why-choose-section {
    background: {
        color: $main-color;
        image: url(../img/choose-bg.png);
        position: center center;
        size: cover;
        repeat: no-repeat;
    }
}
.why-choose-wrapper {
    max-width: 865px;
    margin-left: auto;
    padding: {
        top: 100px;
        bottom: 100px;
        right: 30px;
    }
    .section-title {
        margin-bottom: 30px;
        padding-right: 0;

        span {
            color: $optional-color;
        }
        h2, p {
            color: $white-color;
        }
        p {
            max-width: 700px;
        }
    }
    .choose-text-wrapper {
        margin-top: 30px;
        position: relative;
        padding-left: 100px;

        .icon {
            position: absolute;
            left: 0;
            top: 0;
            color: $main-color;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            display: inline-block;
            text-align: center;
            line-height: 80px;
            border: 3px solid $white-color;
            z-index: 1;
            transition: $transition;

            i {
                &::before {
                    font-size: 35px;
                }
            }
            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $white-color;
                border-radius: 50%;
                z-index: -1;
                margin: 3px;
                transition: $transition;
            }
        }
        h3 {
            font-size: 20px;
            margin-bottom: 0;
            color: $white-color;
        }
        p {
            opacity: 0.95;
            color: $white-color;
            margin: {
                bottom: 0;
                top: 13px;
            }
        }
        &:hover {
            .icon {
                color: $white-color;

                &::before {
                    background: $main-color;
                }
            }
        }
    }
}
.why-choose-img {
    height: 100%;
    background: {
        image: url(../img/choose-1.jpg);
        position: center center;
        size: cover;
        repeat: no-repeat;
    }
    img {
        display: none;
    }
}

/*================================================
Portfolio Area CSS
=================================================*/
.single-portfolio {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;

    img {
        transition: $transition;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $main-color;
        transition: $transition;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
    }
    .portfolio-content {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        bottom: 30px;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: $transition;

        h3 {
            font-size: 20px;
            margin-bottom: 0;
            color: $white-color;
        }
        span {
            display: block;
            color: $white-color;
            opacity: 0.95;
            margin-top: 8px;
        }
    }
    .details-btn {
        width: 100%;
        display: block;
        height: 100%;
        z-index: 3;
        position: absolute;
        left: 0;
        top: 0;

        i {
            display: inline-block;
            width: 45px;
            height: 45px;
            line-height: 44px;
            border: 1px solid $white-color;
            border-radius: 50%;
            color: $white-color;
            transition: $transition;
            position: absolute;
            right: 30px;
            top: 30px;
            transform: scale(0);

            &:hover, &:focus {
                background-color: $optional-color;
                color: $black-color;
                border-color: $optional-color;
            }
        }
    }
    &:hover {
        &::before {
            opacity: .7;
            visibility: visible;
        }
        img {
            transform: scale(1.3);
        }
        .portfolio-content {
            opacity: 1;
            visibility: visible;
        }
        .details-btn {
            i {
                transform: scale(1);
            }
        }
    }
}
.portfolio-btn {
    text-align: center;
    margin-top: 30px;
}

/*================================================
Counter Area CSS
=================================================*/
.counter-section {
    clip-path: polygon(50% 0%, 74% 3%, 100% 0, 100% 100%, 76% 97%, 50% 100%, 21% 97%, 0 100%, 0 0, 22% 3%);
    position: relative;
    z-index: 1;
    background: {
        image: url(../../assets/img/counter-bg.jpg);
        position: center center;
        repeat: no-repeat;
        size: cover;
    }
    &::before {
        content: "";
        background-color: $main-color;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.9;
        z-index: -1;
    }
    &.extra-pb {
        padding-bottom: 270px;
    }
}
.single-counter {
    text-align: center;

    h3 {
        color: $white-color;
        margin-bottom: 0;
        font: {
            size: 50px;
            weight: 700;
            family: $optional-font-family;
        }
        .count-text {
            font-size: 40px;
        }
    }
    p {
        color: $white-color;
        margin-top: 5px;
        line-height: initial;
        font: {
            size: 16px;
            family: $optional-font-family;
        }
    }
}

/*================================================
Testimonials Area CSS
=================================================*/
.testimonials-section {
    padding-bottom: 70px;
    
    &.mb-minus-200 {
        padding-top: 0;
        margin-top: -180px;
    }
}
.testimonial-single-item {
    padding: 30px;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
    background-color: $white-color;
    transition: $transition;

    .icon {
        margin: 0 0 25px;
        background-color: #dbf6fc;
        border-radius: 50%;
        color: $main-color;
        display: inline-block;
        width: 80px;
        height: 80px;
        text-align: center;
        line-height: 80px;

        i {
            &::before {
                font-size: 35px;
            }
        }
    }
    h3 {
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 5px;
    }
    span {
        color: $main-color;
        font-weight: 400;
        display: block;
    }
    p {
        line-height: 2;
        margin: {
            bottom: 0;
            top: 15px;
        }
    }
    .rating {
        margin-top: 15px;

        i {
            color: #efca00;
        }
    }
    &:hover {
        border-color: $main-color;
    }
}
.testimonial-wrapper {
    &.owl-theme {
        .owl-nav.disabled+.owl-dots {
            margin: {
                top: 20px;
                bottom: 30px;
            }
        }
        .owl-dots {
            .owl-dot {
                span {
                    width: 15px;
                    height: 15px;
                    margin: 0 4px;
                    transition: $transition;
                }
                &.active, &:hover {
                    span {
                        background: $main-color;
                    }
                }
            }
        }
    }
}

/*================================================
Partner Area CSS
=================================================*/
.partner-logo {
    a {
        background-color: $white-color;
        border-radius: 4px;
        text-align: center;
        border: 1px solid $white-color;
        transition: $transition;
        padding: 10px;

        img {
            width: 135px !important;
            display: inline-block !important;
        }
        &:hover {
            border-color: $main-color;
        }
    }
}

/*================================================
Blog Area CSS
=================================================*/
.blog-section {
    padding-bottom: 70px;

    .pagination-area {
        margin-bottom: 30px;
    }
}
.single-blog-post {
    margin-bottom: 30px;
    background-color: $white-color;
    transition: $transition;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);

    .post-image {
        position: relative;
        overflow: hidden;

        img {
            transition: $transition;
        }
    }
    .post-content {
        padding: 25px;

        ul {
            padding-left: 0;
            margin-bottom: 15px;
            list-style-type: none;

            li {
                display: inline-block;
                margin-right: 15px;
                color: $paragraph-color;

                a {
                    display: inline-block;
                    color: $paragraph-color;

                    &:hover {
                        color: $main-color;
                    }
                }
                i {
                    color: $main-color;
                    margin-right: 2px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        h3 {
            margin-bottom: 0;
            font-size: 20px;
            line-height: 1.4;
        }
        p {
            margin: {
                top: 12px;
                bottom: 0;
            }
        }
        .read-more-btn {
            margin-top: 20px;
            color: $main-color;
            text-transform: uppercase;
            font: {
                size: 14px;
                weight: 500;
            }
            &:hover {
                letter-spacing: 1px;
            }
        }
    }
    &:hover {
        transform: translateY(-10px);

        .post-image {
            img {
                opacity: 0.6;
            }
        }
    }
}

/*================================================
Pricing Area CSS
=================================================*/
.pricing-section {
    background: {
        image: url(../img/priceing-bg.jpg);
        repeat: no-repeat;
        position: center center;
        size: cover;
    }
}
.pricing-text {
    padding-left: 30px;

    .section-title {
        margin-bottom: 0;

        &.text-left {
            padding-right: 0;

            .default-btn {
                position: relative;
                left: 0;
                top: 0;
                transform: unset;
                margin-top: 10px;
            }
        }
    }
}
.pricing-content {
    text-align: center;
    background-color: $white-color;
    padding: 30px 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 1px solid #f2f2f2;
    transition: $transition;

    span {
        color: $main-color;
        margin-bottom: 11px;
        display: inline-block;
        font: {
            size: 40px;
            weight: 700;
        }
        sup {
            font-size: 24px;
        }
        sub {
            font-size: 12px;
            color: $black-color;
            text-transform: capitalize;
            display: inline-block;
            padding-left: 7px;
        }
    }
    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        bottom: -170px;
        left: 0;
        width: 100%;
        height: 100%;
        animation: mover 2s linear infinite  alternate;
        background: {
            repeat: no-repeat;
            position: center center;
            image: url(../../assets/img/pricing-shape.png);
        }
    }
    &::after {
        z-index: -1;
        position: absolute;
        bottom: -137px;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        animation: mover 3s linear infinite  alternate;
        background: {
            repeat: no-repeat;
            image: url(../../assets/img/priceing-shape2.png);
            position: center center;
        }
    }
    i {
        &::before {
            font-size: 38px;
            color: $main-color;
            background-color: #D9F6FC;
            width: 80px;
            height: 80px;
            display: inline-block;
            line-height: 80px;
            border-radius: 50%;
            z-index: 3;
        }
    }
    p {
        margin-bottom: 0;
    }
    h3 {
        text-transform: uppercase;
        margin: {
            top: 25px;
            bottom: 15px;
        }
        font: {
            size: 20px;
        }
    }
    .default-btn {
        margin-top: 20px;
    }
    &:hover {
        border: 1px solid $main-color;
    }
}
.pricing-wrapper {
    &.owl-theme {
        .owl-nav.disabled+.owl-dots {
            margin-top: 40px;
        }
        .owl-dots {
            .owl-dot {
                span {
                    width: 15px;
                    height: 15px;
                    margin: 0 4px;
                    transition: $transition;
                }
                &.active, &:hover {
                    span {
                        background: $main-color;
                    }
                }
            }
        }
    }
}

/*================================================
Estimate Area CSS
=================================================*/
.estimate-section {
    position: relative;
    z-index: 2;
}
.form-wrapper {
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    padding: 50px;
    position: relative;
    z-index: 1;
    background-color: $white-color;
    margin-bottom: -350px;

    .form-group {
        margin-bottom: 30px;
    }
    label {
        color: $black-color;
        display: block;
        text-transform: capitalize;
        margin-bottom: 8px;
        font: {
            size: 14px;
            weight: 500;
        }
    }
    .form-control {
        height: 65px !important;
    }
    .default-btn {
        display: table;
        margin: 10px auto 0;
        padding: 20px 50px;
        cursor: pointer;
        border: none;
    }
}

/*================================================
Contact Area CSS
=================================================*/
.contact-info-box {
    text-align: center;
    transition: $transition;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    background: $white-color;
    padding: 30px;

    .icon {
        display: inline-block;
        width: 80px;
        height: 80px;
        line-height: 80px;
        background: #edf5ff;
        border-radius: 50%;
        font-size: 30px;
        color: $main-color;
        transition: $transition;
    }
    h3 {
        font-size: 20px;
        margin: 25px 0 12px;
    }
    p {
        margin-bottom: 0;

        a {
            color: #818992;

            &:hover {
                color: $main-color;
            }
        }
    }
    &:hover {
        transform: translateY(-10px);

        .icon {
            background-color: $main-color;
            color: $white-color;
        }
    }
}
.contactForm {
    .form-wrapper {
        z-index: 3;

        textarea.form-control {
            height: auto !important;
        }
    }
}

/*================================================
Page Title Area CSS
=================================================*/
.page-title-area {
    height: 350px;
    position: relative;
    z-index: 1;
    background: {
        image: url(../img/banner.jpg);
        position: center center;
        size: cover;
        repeat: no-repeat;
    }
    &::before {
        content: "";
        background-color: $main-color;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        z-index: -1;
    }
}
.page-title-content {
    margin-top: 20px;
    font-family: $optional-font-family;
    position: relative;
    z-index: 4;

    h1 {
        color: $white-color;
        margin-bottom: 13px;
        font: {
            size: 45px;
            weight: 500;
        }
    }
    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            display: inline-block;
            position: relative;
            margin: 0 13px;
            color: $optional-color;

            a {
                display: inline-block;
                color: $white-color;

                &:hover {
                    color: $optional-color;
                }
            }
            &::before {
                content: '';
                position: absolute;
                right: -18px;
                top: 50%;
                transform: translateY(-50%);
                width: 8px;
                height: 8px;
                background: $white-color;
                border-radius: 50%;
            }
            &:last-child {
                &::before {
                    display: none;
                }
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

/*================================================
Pagination Area CSS
=================================================*/
.pagination-area {
    margin-top: 30px;
    text-align: center;

    .page-numbers {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin: 0 3px;
        display: inline-block;
        background-color: $white-color;
        line-height: 45px;
        color: $black-color;
        box-shadow: 0 2px 10px 0 #d8dde6;
        font: {
            size: 17px;
            weight: 500;
        }
        &.current, &:hover, &:focus {
            background: $main-color;
            color: $white-color;
            box-shadow: unset;
        }
    }
}

/*================================================
Portfolio Details Area CSS
=================================================*/
.portfolio-details-image {
    margin-bottom: 30px;
    text-align: center;
}
.portfolio-details-desc {
    h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .portfolio-details-information {
        overflow: hidden;

        .single-info-box {
            float: left;
            width: 20%;
            margin-top: 30px;

            h4 {
                font-size: 18px;
                margin-bottom: 10px;
            }
            ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;

                li {
                    display: inline-block;
                    margin-right: 7px;

                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        color: #818992;

                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
}

/*================================================
Error Area CSS
=================================================*/
.error-section {
    position: relative;
    height: 100vh;
    
    .error-text {
        text-align: center;

        h2 {
            color: red;
            margin-bottom: 0;
            font: {
                size: 100px;
                weight: 700;
            }
        }
        h4 {
            font: {
                size: 30px;
                weight: 700;
            }
            margin: {
                top: 5px;
                bottom: 15px;
            }
        }
        p {
            font-size: 16px;
            max-width: 600px;
            margin: {
                left: auto;
                right: auto;
                bottom: 20px;
            }
        }          
    }
}

/*================================================
Blog Details Area CSS
=================================================*/
.blog-details {
    box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
    background: $white-color;

    .article-img {
        position: relative;

        .date {
            background: $main-color;
            color: $white-color;
            border-radius: 5px;
            padding-top: 19px;
            line-height: 32px;
            position: absolute;
            bottom: 15px;
            width: 100px;
            right: 15px;
            height: 100px;
            text-align: center;
            font-size: 20px;
            font-style: italic;
        }
    }
    .article-content {
        padding: 30px;

        h3 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        .blockquote {
            margin-bottom: 20px;
            margin-top: 20px;
            background: #f4f4f4;
            padding: 30px;
            border-left: 4px solid $main-color;

            p {
                margin-bottom: 0;
                font: {
                    size: 18px;
                    style: italic;
                }
            }
        }
        .share-post {
            text-align: center;
            margin-top: 30px;

            ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;

                li {
                    display: inline-block;
    
                    a {
                        width: 40px;
                        font-size: 15px;
                        height: 40px;
                        display: inline-block;
                        line-height: 38px;
                        border: 1px solid #eeeeee;
                        border-radius: 50%;
                        color: #6f6f6f;
    
                        &:focus, &:hover {
                            color: $white-color;
                            border-color: $white-color;
                            background-color: $main-color;
                        }
                    }
                }
            }
        }
    }
}
.post-controls-buttons {
    overflow: hidden;
    background: $white-color;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
    margin: {
        top: 25px;
        bottom: 25px;
    }
    .controls-left {
        float: left;
    }
    .controls-right {
        float: right;
    }
    div a {
        border: 1px solid #eeeeee;
        padding: 8px 20px;
        display: inline-block;
        border-radius: 5px;
        font-size: 16px;
        color: $black-color;

        &:hover {
            color: $white-color;
            background-color: $main-color;
            border-color: $main-color;
        }
    }
}
.post-comments {
    padding: 30px;
    background: $white-color;
    box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);

    h3 {
        font-size: 20px;
        margin-bottom: 0;
    }
    .single-comment {
        position: relative;
        padding-left: 95px;
        margin-top: 30px;

        .comment-img {
            position: absolute;
            left: 0;
            top: 0;
            width: 75px;
            height: 75px;

            img {
                border-radius: 50%;
            }
        }
        .comment-content {
            h4 {
                font-size: 17px;
                margin-bottom: 8px;
            }
            span {
                color: $paragraph-color;
                font-size: 14px;
            }
            a {
                position: absolute;
                right: 0;
                bottom: -5px;
                text-transform: uppercase;
                color: $paragraph-color;
                border: 1px solid #eeeeee;
                display: inline-block;
                border-radius: 30px;
                font-size: 13px;
                text-align: center;
                padding: 6px 20px;

                &:hover {
                    color: $white-color;
                    border-color: $main-color;
                    background-color: $main-color;
                }
            }
        }
        &.left-m {
            margin-left: 85px;
        }
    }
}
.leave-a-reply {
    padding: 30px;
    background: $white-color;
    box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
    margin-top: 25px;

    h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .default-btn {
        border: none;
        cursor: pointer;
    }
    textarea.form-control {
        height: auto !important;
    }
}

/*================================================
Sidebar Area CSS
=================================================*/
.sidebar-area {
    .widget {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
        .widget-title {
            font-size: 19px;
            margin-bottom: 25px;
            padding-bottom: 10px;
            border-bottom: 1px solid #eeeeee;
            position: relative;

            &::before {
                width: 50px;
                height: 1px;
                background: $main-color;
                bottom: -1px;
                left: 0;
                content: '';
                position: absolute;
            }
        }
    }
    .widget-search {
        form {
            position: relative;

            button {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 55px;
                border: none;
                background: transparent;
                cursor: pointer;
                transition: $transition;
                border-radius: 0 4px 4px 0;

                &:hover {
                    color: $white-color;
                    background-color: $main-color;
                }
            }
        }
    }
    .widget_post_categories {
        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: $black-color;
                    background-color: #f4f4f4;
                    padding: 10px 15px;
                    border-radius: 4px;
                    font: {
                        weight: 500;
                        size: 14px;
                    }
                    &:hover {
                        background-color: $main-color;
                        color: $white-color;
                    }
                }
            }
        }
    }
    .widget_recent_posts {
        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                position: relative;
                overflow: hidden;
                margin-bottom: 15px;
                padding-left: 110px;

                .recent-post-thumb {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100px;
                }
                .recent-post-content {
                    h3 {
                        margin-bottom: 0;
                        line-height: 1.4;
                        font: {
                            size: 15px;
                            weight: 500;
                        }
                    }
                    .date {
                        display: block;
                        margin-top: 3px;
                        font-size: 13px;
                        color: $paragraph-color;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .widget_tag_cloud {
        .widget-title {
            margin-bottom: 21px;
        }
        .tagcloud {
            a {
                background: transparent;
                color: $paragraph-color;
                border: 1px solid #eeeeee;
                padding: 8px 15px;
                border-radius: 4px;
                display: inline-block;
                margin-top: 4px;
                font: {
                    size: 13px !important;
                    weight: 500;
                }
                &:hover {
                    border-color: $main-color;
                    color: $white-color;
                    background-color: $main-color;
                }
            }
        }
    }
    .widget_text {
        ul {
            padding-left: 0;
            list-style-type: none;
            overflow: hidden;
            margin: {
                left: -3px;
                bottom: -6px;
                right: -3px;
            }
            li {
                float: left;
                padding: 0 3px;
                width: 33.3333%;
                margin-bottom: 6px;
            }
        }
    }
}

/*================================================
FAQ Area CSS
=================================================*/
.faq-image {
    text-align: center;
}
.faq-content {
    .faq-panel {
        background-color: $white-color;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
        margin-bottom: 17px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }
        .faq-title {
            border-bottom: none;
            color: $black-color;
            cursor: pointer;
            padding: 15px 40px 15px 15px;
            margin: 0;
            text-decoration: none;
            transition: $transition;
            position: relative;
            font: {
                size: 16px;
                weight: 500;
            }
            i {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
            &.active {
                color: $white-color;
                background-color: $main-color;
            }
        }
        .faq-textarea {
            display: none;
            padding: 15px;
        }
    }
}

/*================================================
Services Details Area CSS
=================================================*/
.services-details-content {
    margin-top: 30px;

    h3 {
        font-size: 20px;
        margin-bottom: 13px;
    }
    .why-choose {
        margin: {
            top: 30px;
            bottom: 30px;
        }
        .why-choose-box {
            position: relative;
            padding-left: 25px;

            i {
                color: $main-color;
                position: absolute;
                left: 0;
                top: 3px;
            }
        }
    }
    .services-more-content {
        margin-bottom: 40px;

        .item-feature {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                margin-bottom: 8px;
                position: relative;
                padding-left: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
                &::after {
                    content: "\f00c";
                    color: $main-color;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    font: {
                        family: "Font Awesome 5 Free";
                        size: 14px;
                        weight: 900;
                    }
                }
            }
        }
    }
    .services-more-info {
        background-color: $white-color;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
        padding: 30px 30px 10px;
        text-align: center;

        h3 {
            margin-bottom: 30px;
        }
        .single-info {
            margin-bottom: 20px;
            text-align: left;
            background-color: #f8f8f8;
            padding: 20px;

            h4 {
                font-size: 16px;
                margin-bottom: 0;
                font-weight: normal;
            }
            span {
                display: block;
                margin-top: 8px;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}

/*================================================
Footer Area CSS
=================================================*/
.footer-section {
    padding-top: 100px;
    clip-path: polygon(47% 0, 95% 5%, 100% 0, 100% 100%, 0 100%, 0 0, 6% 4%);
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: {
        image: url(../img/footer-bg.jpg);
        position: center center;
        repeat: no-repeat;
        size: cover;
    }
    &.extra-pt {
        padding-top: 350px;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        z-index: -1;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $main-color;
        opacity: 0.9;
    }
}
.footer-shape-1 {
    background-color: $main-color;
    position: absolute;
    top: 30px;
    left: 0;
    opacity: 0.5;
    height: 40px;
    width: 100%;
    animation: mover 2s linear infinite  alternate;
    clip-path: polygon(100% 0, 100% 100%, 81% 85%, 50% 100%, 20% 84%, 0 100%, 0 0);
    z-index: -1;
}
.footer-shape-2 {
    background-color: $main-color;
    z-index: -1;
    position: absolute;
    top: 9px;
    left: 0;
    height: 40px;
    opacity: 0.9;
    width: 100%;
    animation: mover 3s linear infinite  alternate;
    clip-path: polygon(100% 0, 100% 100%, 80% 90%, 50% 100%, 20% 90%, 0 100%, 0 0);
}
.single-footer-widget {
    margin-bottom: 30px;

    .logo {
        margin-bottom: 25px;

        a {
            display: inline-block;
        }
        p {
            color: $white-color;
            margin: {
                bottom: 0;
                top: 20px;
            }
        }
    }
    p {
        color: $white-color;
    }
    .newsletter-form {
        position: relative;

        .form-control {
            border: none;
            border-radius: 0;
            background-color: $white-color;
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            height: 50px;
            width: 60px;
            cursor: pointer;
            background: $optional-color;
            color: $black-color;
            font-size: 20px;
            border: none;
            transition: $transition;

            &:hover {
                color: $white-color;
                background-color: $black-color;
            }
        }
    }
    h3 {
        font-size: 20px;
        color: $white-color;
        margin-bottom: 25px;
    }
    .footer-nav-list {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            margin-bottom: 12px;
            color: $white-color;
            font-size: 14px;

            a {
                color: $white-color;

                &:hover {
                    color: $optional-color;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .footer-info-list {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            margin-bottom: 14px;
            font-weight: 500;
            color: $white-color;
            font-size: 14px;

            span {
                display: inline-block;
                font-weight: normal;
            }
            &:last-child {
                margin-bottom: 0;
            }
            a {
                display: block;
                color: $white-color;
                margin-bottom: 3px;

                &:hover {
                    color: $optional-color;
                }
            }
        }
    }
    .working-hours {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            margin-bottom: 12px;
            color: $white-color;
            font-size: 14px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .social-links {
        padding-left: 0;
        list-style-type: none;
        margin: {
            top: 30px;
            bottom: 0;
        }
        li {
            display: inline-block;
            line-height: initial;
            margin-right: 15px;

            a {
                color: $white-color;
                font-size: 16px;

                &:hover {
                    color: $optional-color;
                    transform: translateY(-3px);
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.copyright-area {
    text-align: center;
    margin-top: 70px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: {
        top: 30px;
        bottom: 30px;
    }
    p {
        font-size: 16px;
        color: $white-color;

        a {
            display: inline-block;
            color: $optional-color;
            font-weight: 500;
        }
    }
}

/*================================================
Back To Top CSS
=================================================*/
#toTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    z-index: 11;

    i {
        background-color: $main-color;
        color: $white-color;
        width: 40px;
        height: 40px;
        display: inline-block;
        line-height: 39px;
        border-radius: 50%;
        transition: $transition;
        text-align: center;
        font-size: 18px;

        &:hover {
            background-color: $optional-color;
            color: $black-color;
        }
    }
}